#apresentation{
    position: relative;
    color: $text-white;
    height: 85vh;
    @include d-flex(none,center); 
    z-index: 0;

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../../../public/img/vecteezy.svg') no-repeat;
        background-size: cover;
        background-position: 295px -15px;
        z-index: 0;
        clip-path: circle(360px);
    }

    .group-text-apresentation{ 
    z-index: 1;
    .hello{ 
        font-size: 25px;
        font-weight: 200;
        color: $clear-blue;
    }
    .name{
        font-size: 75px;
        font-weight: 500;
        margin-top: -25px; 
        margin-bottom: -15px;
    }


    .office {
        width: 63%;
        animation: typing 2s steps(22), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-size: 2em;
        color: #62c6e4;
        font-weight: 500;
    } 

    a {
        display: block;
        width: 151px; 

        .view-more{
            display: block;
            margin-top: 30px;
            border: 1px solid $clear-blue;
            border-radius: 4px;
            padding: 10px 20px;
            color: $clear-blue;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;
        }
    }
    .view-more:hover{
        background-color: #64edff34;
        transition: 0.3s;
    }

    .resume{
        width: 600px;
        font-size: 16px;
    }
}

    /* ANIMATIONS */
    @keyframes typing {
        from {
        width: 0
        }
    }
        
    @keyframes blink {
        50% {
        border-color: transparent
        }
    }
  
}


/* RESOLUTIONS */

@media screen and (max-width: 920px) {
    #apresentation{

        &::before{
            left: -10px;
        }

        .group-text-apresentation{ 
            .hello{ 
                font-size: 25px;
            }
            .name{
                font-size: 55px; 
                margin-top: -20px; 
            }
            .office{
                width: 55%; 
                font-size: 25px;
            } 
        }
    }
}

@media screen and (max-width: 720px) {
    #apresentation{

        &::before{ 
            background-position: 230px 0;
            left: 0px;
            clip-path: none;
        }

        .group-text-apresentation{
            .hello{ 
                font-size: 15px;
            }
            .name{
                font-size: 30px;
                margin-top: -10px;
            }
            .office{
                font-size: 30px;
                width: 77%; 
            }
            .resume{ 
                font-size: 16px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 485px) {
    #apresentation{
        .group-text-apresentation{ 
            .office{
                width: 102%;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    #apresentation{
        overflow: hidden;
        
        &::before{ 
            background-position: 100px 0;
            left: 0px;
            clip-path: none;
        }

        .group-text-apresentation{ 
            overflow: hidden;
            .hello{ 
                font-size: 15px;
            }
            .name{
                font-size: 25px;
                margin-bottom: 0;
                margin-top: 1px;
            }
            .office{
                font-size: 20px;
            }
            .resume{
                margin-top: 2px;
                font-size: 14px;
                width: 100%;
            }
        }
    }
}



