#experience{
    color: $text-white;

    .title-section{
        text-align: center;
        margin-bottom: 80px;
    }
      
     .title-experience{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 5px;
        a{
            color: $clear-blue;
        }
     }
     .time-experience{
        margin-bottom: 5px;
        font-weight: 300;
        font-size: 15px;
     }
     .list-experience {
         margin-top: 10px;
     }
     .list-experience li{
         font-size: 15px;
         position: relative;
         padding-left: 20px;
         margin-bottom: 10px;
     }
     .list-experience li::before {
         content: '▹';
         color: $clear-blue;
         position: absolute;
         left: 0;
      }
      
      /* CONFIG EXPERIENCE */

      $spacing: 20px;
      $purple: $text-white;
      $tab-height: 40px;
      
      .container {
        position: relative;
        margin: $spacing auto;
        padding: $spacing;
        width: 700px;
        display: flex;
        align-items: flex-start;
      
        .tabs {
          display: block;
          position: relative;
          z-index: 3;
          width: max-content;
      
          .tab {
            width: 100px;
            height: $tab-height;
            text-align: left;
            font-weight: bold;
            font-size: 14px;
            padding: 10px 0;
            transition: all 0.25s ease;
            border-left: 2px solid #5f6368;
            color: #5f6368;
            cursor: pointer;
            padding-left: 20px;
      
            &:hover {
              color: $purple;
            }
      
            &.active {
              color: $purple;
            }
      
            @for $i from 1 through 3 {
              &.tab-#{$i}.active {
                & ~ .highlighter {
                  transform: translateY(#{($i*$tab-height) - $tab-height});
                }
              }
            }
            
          }
      
          .highlighter {
            display: block;
            background: $purple;
            width: 2px;
            height: $tab-height;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(0);
            transition: transform 0.2s ease;
            transition-delay: 0.1s;
            z-index: 10;
          }
      
          a:first-of-type {
            border-top-left-radius: 2px;
          }
          a:last-of-type {
            border-top-right-radius: 2px;
          }
        }
      
        .content {
          position: relative;
          padding: 0 $spacing;
      
          &__section {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 0;
            transition: opacity 0s ease;
      
            &.visible {
              position: relative;
              opacity: 1;
              width: 100%;
              height: auto;
              transition: opacity 0.5s ease;
              z-index: 2;
            }
          }
        }
      }
}

@media screen and (max-width: 800px) {
    #experience{
        .container{
            flex-direction: column;
            width: 100%;

            .tabs{
                margin-bottom: 40px;
                .tab{
                    border-left: none;
                    border-bottom: 2px solid #5f6368;

                    @for $i from 1 through 3 {
                        &.tab-#{$i}.active {
                          & ~ .highlighter {
                            transform: translateX(#{($i*100) - 100});
                          }
                        }
                      }
                }
                 
                .highlighter{
                    
                    display: block;
                    background: #fff;
                    width: 100px;
                    height: 2px;
                    position: absolute;
                    top: inherit;
                    left: 0;
                    bottom: 0;
                    transform: translateY(0);
                    transition: transform 0.2s ease;
                    transition-delay: 0.1s;
                    z-index: 10;
                }
            }
            
        }
    }
}