#projects{
    background-color: $dark-blue;
    color: $text-white;

    .title-section{
        text-align: center;
        margin-bottom: 80px;
    }
    .container-projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        .project{
            background-color: $dark-blue-main;
            width: 330px;
            height: 400px;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            padding: 30px;
            display: flex;
            align-items: center;

            .container-project{
                z-index: 1;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 100%;
            }
        }
        /* PROJECT INFO */
        .info-project{
            width: 100%;
            
            .title-project{
                font-weight: 600;
                font-size: 30px;
                margin-top: 25px;
                margin-bottom: 5px;
            }
            p{
                font-size: 16px;
            }
        }

        /* PROJECT ICONS */
        .tecnology-project{
            margin-top: 30px;
            span{
                margin-right: 15px;
                font-size: 14px;
            }
        }

        .icons-project{
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icons-right-project { 
                display: flex;
                align-items: center;
                svg{
                    width: 22px;
                }
                a{
                    transition: 0.3s;
                }
                a:hover{
                    color: $clear-blue;
                    transition: 0.3s;
                }
               
            }
            .icons-right-project svg:nth-child(1){
                margin-right: 15px; width: 20px;
            }
        }

        /* PROJECT IMAGE */
        .pj-one{
            background: url('https://getbootstrap.com/docs/5.0/examples/features/unsplash-photo-1.jpg') no-repeat;
            background-size: cover;
            background-position-y: 0;
            position: relative;
           
        }
        .pj-one::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            background-color: rgba(19, 19, 58, 0.383);
        }
        .pj-two{
             background: url('https://getbootstrap.com/docs/5.0/examples/features/unsplash-photo-2.jpg') no-repeat;
            background-size: cover;
            background-position-y: 0;
            position: relative;
        }
        .pj-two::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            background-color: rgba(19, 19, 58, 0.383);
        }
        .pj-three{
             background: url('https://getbootstrap.com/docs/5.0/examples/features/unsplash-photo-3.jpg') no-repeat;
            background-size: cover;
            background-position-y: 0;
            position: relative;
        }
        .pj-three::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            background-color: rgba(19, 19, 58, 0.383);
        }
    }

}

@media screen and (max-width: 1140px) {
    #projects{
        .container-projects {
            gap: 40px;
            justify-content: center;
            .project{
                width: 700px; 
            }
            
        }
    }
}

@media screen and (max-width: 400px) {
    #projects{
        .container-projects { 
            .project{
                height: 450px;
            }
            
        }
    }
}