*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
    background: rgba(0, 217, 255, 0.411);
    color: $text-white;
}
 
a{
    color: $text-white;
}

html {
    scroll-behavior: smooth;
    
}

::-webkit-scrollbar{
    width: 6px;
    
}
::-webkit-scrollbar-track{
    background-color: $dark-blue-main;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(212, 212, 212, 0.582);
    border-radius: 5px;
}

body{
    overflow-x: hidden;
    position: relative;
    background-color: $dark-blue-main;
    scrollbar-color: $dark-blue-main $dark-blue-main;
}

p {color: $text-white;}

h1,h2,h3,h4,h5,h6 {color: $text-white;}