/* COLOR SKILLS */

#skills{
    text-align: center;

    .title-section{
        margin-bottom: 80px;
    }
    .container-skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 80px;
        justify-content: center;

        .skill-item{
            color: $text-white;
            width: 150px;
            height: 150px;
            background-color: $dark-blue;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s; 
            position: relative;

            img{
                width: 60px;
                user-select: none;
                position: relative;
                margin: 0 auto;
            }
        }
        .skill-item:hover{
            transition: 0.3s;
            transform: scale(1.2);
        }
        .skill-item:hover::after{
            content: attr(s-name);
            position: absolute;
            bottom: 10px;
        } 
    }
    
}

@media screen and (max-width: 1024px){
    #skills{
        .container-skills{
            gap: 70px;
        }
    }
}

@media screen and (max-width: 480px) {
    #skills{
        .container-skills{
            gap: 30px;

            .skill-item{ 
                width: 120px;
                height: 120px;
            }
        }

        .skill-item:hover::after{
            content: attr(s-name);
            position: absolute; 
            margin-bottom: -5px;
            font-size: 12px;
        }
    }
}