/* 
    INICIAR SASS
    sass --watch ./sass/globalStyle.scss:./css/globalStyle.css --style compressed
*/

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* COLORS */
$dark-blue-main: #070D1E;
$dark-blue: #050915;
$text-white: rgb(230, 230, 230);
$clear-blue: #64edff;

/* RESET */
@import './reset';

/* DEFAULT */
@mixin d-flex($justify,$align) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}
@mixin grid-contaier($width) {
    max-width: $width;
    margin: 0 auto;
}
.title-section{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}
.container{
    @include grid-contaier(1140px);
    padding: 0 50px;
}
.container-section{
    @include grid-contaier(1140px);
    padding: 100px 50px;
} 

/* MENU */
@import './menu';
/* APRESENTATION */
@import './apresentation';
/* ABOUT */
@import './about';
/* SKILLS */
@import './skills';
/* PROJECTS */
@import './projects';
/* EXPERIENCE */
@import './experience';
/* FOOTER */
@import './footer';



@media screen and (max-width: 720px) {
    .container-section {
        .title-section{
            font-size: 30px;
        }
    }
}